html, body{
    background-color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.form{
    background-color: black;
    color:white;
}

#movie-form{
    background-color: black;
    color:white;
    text-align: center;
}

.horror-movies{
    background-color: black;
    color:white;
}
